{% extends "base.html" %}
{% block title %}{{ category.display_name }} - {{ title }}{% endblock %}
{% block content %}
<a class="back-link" href="/categories/">&larr; 返回分类</a>
<div class="page-header">
    <h1>{{ category.display_name }}</h1>
    <p>{{ posts | length }} 篇文章</p>
</div>
<ul class="post-list">
    {% for post in posts %}
    <li>
        {% if post.publish_time %}
        <span class="date">{{ post.publish_time.strftime('%Y-%m-%d') }}</span>
        {% endif %}
        <a class="title" href="{{ post.permalink }}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
